<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
      <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <connectionStrings>
    <add name="201131021DBConnectionString" connectionString="Data Source=as.ce.dogus.edu.tr;Initial Catalog=201131021DB;Persist Security Info=True;User ID=201131021;Password=Aa123aA"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="deferror.aspx">
      <error statusCode="404" redirect="~/ErrorPages/Error404.aspx"/>
      <error statusCode="500" redirect="~/ErrorPages/Error500.aspx"/>
    </customErrors>
  </system.web>
</configuration>